<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Costco Automation Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Costco Tests">
        <classes>
            <class name="com.example.costcoautomation.CostcoTests"/>
        </classes>
    </test>
</suite>
